---

  VMTasks.boot_runcommand_delete_custom_image:
    args: 
      flavor:
        name: "{{ item.value.flavor }}"
      command:
        remote_path: "./instance_network_tests.sh"
      username: "root"
      userdata: "#cloud-config\ndisable_root: 0\nssh_pwauth: 1"
    runner:
      type: constant
      times: 1
      concurrency: 1
      timeout: 3000
    context:
      image_command_customizer:
        image:
          name: "{{ item.value.image }}"
        command:
          local_path: "/home/rally/instance_network_tests.sh"
          remote_path: "./instance_network_tests.sh"
        username: "root"
        userdata: "#cloud-config\ndisable_root: 0\nssh_pwauth: 1"

