[DEFAULT]
swift_operator_role = {{ rally_tempest_swift_operator_role }}
swift_reseller_admin_role = {{ rally_tempest_swift_reseller_admin_role }}

[compute]
image_ref = {{ tempest_cirros_image_uuid }}
image_ref_alt = {{ tempest_cirros_image_uuid }}
flavor_ref = {{ tempest_flavor_uuid }}
flavor_ref_alt = {{ tempest_second_flavor_uuid }}
fixed_network_name = {{ tempest_network_name }}

[object-storage]
swift_operator_role = {{ rally_tempest_swift_operator_role }}
swift_reseller_admin_role = {{ rally_tempest_swift_reseller_admin_role }}

{% if rally_tempest_swift_discoverability is defined %}
[object-storage-feature-enabled]
discoverability = {{ rally_tempest_swift_discoverability }}
{% endif %}

[volume]
volume_size = 1

[network-feature-enabled]
ipv6_subnet_attributes = False
ipv6 = False
{% if rally_tempest_floating_ips is defined %}
floating_ips = {{ rally_tempest_floating_ips }}
{% endif %}

[identity]
ca_certificates_file = {{ tempest_ca_path }}

{% if item.value.tempest_extra_settings is defined %}
# Extra tempest.conf settings
{% for param in item.value.tempest_extra_settings %}
{{ param }}
{% endfor %}
{% endif %}
