#!/bin/bash
# We want any image fetches to use the possible proxy, but all OpenStack
# communication should not use the proxy 
export http_proxy={{ proxy_env["http_proxy"] | default('') }}
unset https_proxy

{% if tempest_must_be_run_in_screen %}
if [[ "$TERM" =~ "screen" ]]; then
{% endif %}
  source /home/rally/rally/bin/activate
  rally deployment use {{ item.key }}
  rally verify use-verifier --id {{ item.key }}
  rally verify start --skip-list {{ item.key }}-skip-list.yml --detailed $*
{% if rally_must_be_run_in_screen %}
else
  echo "You are not in a screen: $TERM"
  exit 1
fi
{% endif %}
