[DEFAULT]
swift_operator_role = {{ rally_tempest_swift_operator_role }}
swift_reseller_admin_role = {{ rally_tempest_swift_reseller_admin_role }}

[compute]
image_ref = {{ tempest_cirros_image_uuid }}
image_ref_alt = {{ tempest_cirros_image_uuid }}
flavor_ref = {{ tempest_flavor_uuid }}
flavor_ref_alt = {{ tempest_second_flavor_uuid }}
fixed_network_name = {{ tempest_network_name }}

[object-storage]
swift_operator_role = {{ rally_tempest_swift_operator_role }}
swift_reseller_admin_role = {{ rally_tempest_swift_reseller_admin_role }}

{% if rally_tempest_swift_discoverability is defined %}
[object-storage-feature-enabled]
discoverability = {{ rally_tempest_swift_discoverability }}
{% endif %}

[volume]
volume_size = 10

[network-feature-enabled]
ipv6_subnet_attributes = False
ipv6 = False

[identity]
ca_certificates_file = {{ tempest_ca_path }}
